---
layout: default
---
<section class="hero">
  <h1>{{ site.about-author }}</h1>
  <p>Written mostly so I don't forget; published in case it helps someone else.</p>
</section>

<section class="post-list">
  {% for post in paginator.posts %}
  <article class="post-row">
    <time class="post-row-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %Y' }}</time>
    <h2 class="post-row-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  </article>
  {% endfor %}
</section>

{% include pagination.html %}
