{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="newer-posts" href="{{ '/' | relative_url }}">&larr; Newer posts</a>
    {% else %}
    <a class="newer-posts" href="{{ site.paginate_path | replace: ':num', paginator.previous_page | relative_url }}/">&larr; Newer posts</a>
    {% endif %}
  {% else %}
  <span></span>
  {% endif %}
  <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a class="older-posts" href="{{ site.paginate_path | replace: ':num', paginator.next_page | relative_url }}/">Older posts &rarr;</a>
  {% else %}
  <span></span>
  {% endif %}
</nav>
{% endif %}
